%body
- if user_signed_in?
  %div.container
    %div.hero-unit
      %button= link_to "New Appointment", new_appointment_path
      %button= link_to "View Appointments", appointments_path
      %button= link_to "Sign Out", destroy_user_session_path, method: :delete
- else
  %div.container#home
    %div.hero-unit#home
      %h3 Get Started Today
      %p Sign Up for FREE
      %button.btn-primary= link_to "Sign Up", new_user_registration_path, :method => "get"
      %button= button_to "Sign In", new_user_session_path, :method => "get"
