%h3 My Appointments
%button= link_to "Add Appointment", new_appointment_path
%div.container#appt_table
  %table.table.table-bordered#appointment_list
    %tr
      %th Date (yyyy/mm/dd)
      %th Street
      %th City
      %th Zip Code
      - @appointments.each do |appointment|
        / .appointment_list
        %tr.success
          %td= appointment.date
          %td= appointment.street
          %td= appointment.city
          %td= appointment.zip
= gmaps4rails(@json)
%div.container#routed
  %table.table.table-bordered
    %tr
      %th Street
      %th Distance
      - @route_appointments.each do |appointment|
        %tr
          %td= appointment.street
          %td= appointment.distance_from(current_user.business_address)
    / %p
    /   %strong= appointment.date
    /   %br/
    /   = appointment.street
    /   %br/
    /   = appointment.city
    /   %br/
    /   = appointment.zip
    /   %br/
    /  %button.delete= link_to "Delete", appointment, :method => :delete, :confirm => "You are about to delete this appointment. Are you sure?"
    /  %button= link_to "Complete", appointment

