<h3>My Appointments</h3>

<% @appointments.each do |appointment| %>
    <div class="appointment_list">
        <p><strong><%= appointment.date %></strong><br/>
        <%= appointment.street %><br/>
        <%= appointment.city %><br/>
        <%= appointment.zip %><br/>
        <button><%= link_to "Delete", appointment, :method => :delete, :confirm => "You are about to delete this appointment. Are you sure?" %></button></p>
    </div>
<% end %>

