%div#appt_head
  - if @appointments.empty?
    %h3 You Have No Scheduled Appointments.
    %p click below to add
  - else
    %h3 My Appointments
  %button= link_to "Add Appointment", new_appointment_path
%div.container#appt_table
  %table.table.table-bordered#appointment_list
    %tr
      %th Date (yyyy/mm/dd)
      %th Street
      %th City
      %th Zip Code
      %th Remove
      %th Complete
      - @appointments.each do |appointment|
        %tr.success
          %td= appointment.date
          %td= appointment.street
          %td= appointment.city
          %td= appointment.zip
          %td.button= link_to "Delete", appointment, :method => :delete, :confirm => "You are about to delete this appointment. Are you sure?"
          %td.button= link_to "Complete", appointment, :method => :delete, :confirm => "Did you complete this job? Selecting 'ok' will remove it from your schedule."
%div.container#gmap_view
  %h3#gmap_header Map View of Today's Appointments
  = gmaps4rails(@json)
%div.container#routed
  %h3 Today's Best Route
  %table.table.table-bordered
    %tr
      %th Street
      %th Distance (in miles)
      - @route_appointments.each do |appointment|
        %tr
          %td= appointment.street
          %td= appointment.distance_from(current_user.business_address).round(2)