<h3>New Appointment</h3>
<%= form_for @appointment do |f| %>
  <%= f.label :date, "Enter Date (yyyy/mm/dd)" %><br/>
  <%= f.text_field :date %><br/>
  <%= f.label :street, "Street Number" %><br/>
  <%= f.text_field :street %><br/>
  <%= f.label :city, "City" %><br/>
  <%= f.text_field :city %><br/>
  <%= f.label :zip, "5 Digit Zip Code" %><br/>
  <%= f.text_field :zip %><br/>
  <%= f.submit "Add Appointment" %>
<% end %>